*{
    margin: 6px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Top {
    text-align: center;
}

.body2 {
    margin: 3em;
}

.first {
    height: 45em;
    width: 30%;
}

header{
    position: fixed;
    left: 0em;
    width: 100%;
    padding: 20px  100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Container {
    height: 35em;
    width: 100%;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 8px;
    margin-top: 5em;

}

.img {
    width: 20%;
}

.Sign {
    font-size: 1.3em;
}

form{
   flex-direction: column;
   position: relative;
   }

   form input {
   margin-bottom: 5px;
   border:1px solid #b6b6b6;
   border-radius: 3px;
   outline: none;
   padding-left: 10px;
   position: relative;
   height: 45px;
   width: 25em;
   }

   .navigation a{
    position: relative;
    text-decoration:none;
    font-weight: 500;
    margin-left: 20px;
    color: black;
    }

   .a {
    text-decoration: none;
    color: rgb(55, 55, 230);
    font-weight: 600;
    font-size: 0.9em;
   }

   .not {
    font-size: 0.9em;
    color: rgb(39, 38, 38);
    margin-left: 11px;
   }

    button {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    background-color: rgb(55, 55, 230);;
    border: 1px solid rgb(55, 55, 230);;
    height: 2.4em;
    width: 6em;
    border-radius: 5px;
    margin-left: 9em;
    cursor: pointer;
   }

   .create {
    margin-left: 0px;
    justify-content: space-between;
    z-index: 99;
   }

   .end {
    font-size: 0.9em;
    user-select: none;
   }

   .www {
    margin-left: 12.5em;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
   }
   
   span a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
   }

   @media (max-width: 780px) {

    .img {
        width: 25%;
    }

    .first {
        height: 45em;
        width: 70%;
    }

    .body2 {
        margin: 3em;
    }

    .Container {
        height: 35em;
        width: 100%;
        margin-top: 5em;
    
    }

    form input {
        padding-left: 10px;
        position: relative;
        height: 45px;
        width: 30em;
    }

    button {
        margin-left: 13em;
    }

    .www {
        margin-left: 15em;
    }
   }

   @media (max-width: 480px) {

    .img {
        width: 25%;
    }

    .first {
        height: 45em;
        width: 95%;
    }

    .body2 {
        margin: 2em;
    }

    .Container {
        height: 35em;
        width: 100%;
        margin-top: 5em;
    
    }

    form input {
        padding-left: 10px;
        position: relative;
        height: 45px;
        width: 25em;
    }

    button {
        margin-left: 8em;
    }

    .www {
        margin-left: 8em;
    }
   }
   
   @media (max-width: 430px) {

    .img {
        width: 25%;
    }

    form input {
        padding-left: 10px;
        position: relative;
        height: 45px;
        width: 22em;
    }

    button {
        margin-left: 4em;
    }

    .www {
        margin-left: 2em;
    }
   }

   @media (max-width: 393px) {

    .img {
        width: 25%;
    }
    .first {
        height: 35em;
        width: 95%;
    }

    .body2 {
        margin: 1.1em;
    }

    .Container {
        height: 30em;
        width: 90%;
        margin-top: 4em;
    }

    form input {
        padding-left: 10px;
        position: relative;
        height: 45px;
        width: 18em;
    }

    button {
        font-size: 0.8em;
        font-weight: 600;
    }

    .a {
        font-size: 0.9em;
       }

       span a {
        font-size: 0.9em;
       }

    .www {
        margin-left: 5em;
    }

    .not {
        font-size: 0.9em;
       }

    .Sign {
        font-size: 1.2em;
    }

    .end {
        font-size: 0.7em;
       }

    button {
        margin-left: 2.8em;
    }
   }

   